[submodule "subprojects/catch2/Catch2"]
	path = subprojects/catch2/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "subprojects/gsl"]
	path = subprojects/gsl
	url = https://github.com/microsoft/GSL.git
